main{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.693), rgba(0, 0, 0, 0.293)), url('../assets/banners/bannerContato.png');
    background-size: cover;
    background-position: center;
}
.login{
    width: 420px;
    background-color: #000;
    text-align: center;
    border-radius: 36px;
    padding: 30px 40px;
}
.login h2{
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    color:var(--cor-fonte);

}
.login .input-login{
        width: 100%;
        height: 50px;
        margin: 36px 0;
}

.input-login input{
    color:var(--cor-fonte);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 1px solid #00000082;
    border-radius: 36px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input-login i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-login .esqueceu-sua-senha{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.esqueceu-sua-senha a{
    margin: 3px;
    font-size: 0.9em;
    color: var(--cor-fonte);

}
.login .btn{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 36px;
    box-shadow: 0 0 10px #2501015c;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin: 20px 0;
}
.login .btn:hover{
    background-color: var(--cor-destaque);
    color: #fff;
}
.login .link-registro{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
    line-height: 40px;
    font-size: 0.9em;
    color: var(--cor-fonte);
}
.link-registro p > a{
    text-decoration: underline;
    margin-top: 10px;
    font-weight: 700;
    color: var(--cor-destaque);
}
.error-message{
    color: var(--cor-destaque);
    font-size: 0.85rem;
    margin-top: 6px;
    min-height: 18px;
    text-align: left;
    padding-left: 6px;
  }
input.is-invalid {
    box-shadow: 0 0 0 3px rgba(176, 0, 32, 0.08);
    border-color: var(--cor-destaque);
  }

footer{
    margin-top: 0px;
}
@media (max-width: 900px){
    main{
    margin-top: 70px;}
}